.user-list {
  margin: 0 auto;
  max-width: 100%;
  padding: 20px;
}

.user-list ul {
  list-style: none;
  padding: 0;
}

.user-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.user-details {
  flex: 1;
  text-align: left;
}

.buttons {
  display: flex;
  gap: 10px;
}

.edit-button,
.delete-button {
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.edit-button {
  background-color: #ffa500;
  color: white;
}

.delete-button {
  background-color: #f44336;
  color: white;
}

.dark-mode .user-list {
  background-color: #222;
  color: white;
}

.dark-mode .edit-button {
  background-color: #ffc107;
}

.dark-mode .delete-button {
  background-color: #ff6b6b;
}

@media (max-width: 768px) {
  .user-details {
    font-size: 14px;
  }

  .buttons {
    flex-direction: column;
    
  }
}
